.container {
    max-width: 960px;
    margin: auto;
    color: #ee670d;
    font-family: ‘Montserrat’, sans-serif;

    
}
.list-group-item-secondary {
    color: #fff;
    background-color: #20315b;
}

header {
    max-height: 200px;
    border-bottom: #91cb3a solid 1px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.logo {
    width: auto;
    height: 100%;
} 

#header-logo {
    width: 100%;
    height: 100%;
    max-width: 200px;
}
.header-slogan {
    font-size: 2em;
    /* text-transform: uppercase; */
}

/* Categories Stying  */

.categories {
    float: left;
    width: 18em;
    height: 14rem;
    background-color: #91cb3e;
    margin: 10px;
    border: none;
    border-radius: 3px;
    overflow: hidden;
}

.categories img{
    height: 100%;
    overflow: hidden;
}

.categories h5 {
    font-size: 1.75em;
    font-family: ‘Montserrat’, sans-serif;
    text-transform: uppercase;
    color: white;
    padding: 10px 0;
    background-color: #91cb3e;
    margin-bottom: 0rem;
    text-align: center;

}

/* Recipe and restaurant list card  */
.recipe-card {
    float: left;
    margin: 10px;
    border: #91cb3e solid 1px;
    border-radius: 0px;
    overflow: hidden;
}

.horizontal-image {
    height: auto;
    overflow: hidden;
}

.horizontal-image img {
    display: block;
    margin: auto;
    max-width: 250px;   
    object-fit: cover;
}

.recipe-card h5 {
    font-size: 1.5em;
    padding: 5px 0;
    margin-bottom: 0px;
}

.slogan {
    color: #ee670d;
    font-family: ‘Montserrat’, sans-serif; 
    font-weight: 100;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#enter-form {
    text-align: center;
    font-family: ‘Montserrat’, sans-serif;
    
    font-weight: bold;
}

#user-info {
    max-width: 500px;
    text-align: center;
    margin: auto;
}

#submit {
    max-width: 435px;
    text-align: right;
    margin: auto;
}

.green {
    background-color: #91cb3e;
    border: 1px solid #91cb3e;
    color: #ffffff;
}
.btn-submit {
    background-color: #91cb3e;
    color: #fff;
    border-color: #91cb3a
    
}

.logo-splash {
    margin: 50px auto 10px;
}

.restaurant, .recipe {
    max-height: 120px;
    overflow: hidden;
    margin-top: 10px;
}




.column-header {
    background-color: #91cb3e;
    color: white;
    font-size: 1.5em;
    padding: 10px 20px;
    
}

.rating-stars {
    width: 100px;
}

.link-btn {
    float: right;
    margin-right: 10px;
}

.info-section {
    padding-top: 10px;
}

.price {
    float: right;
    margin: 0px 20px 0px;
    padding: 5px;
    background: #e63a26;
    color: white;
    border-radius: 3px;

}

/* Reset Buttons */

#reset-div {
    text-align: center;
    margin-bottom: 10px;
}
#reset {
    display: hidden;
}
